body {
  font-family: Arial;
  text-align: center;
  background: #111;
  color: white;
}

input, button, select {
  padding: 10px;
  margin: 5px;
  font-size: 14px;
}

#graph {
  width: 90%;
  height: 500px;
  margin: auto;
}

li {
  cursor: pointer;
}
